<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
			<a href="/players/home">
              <img th:src="@{/images/logo.jpg}" class="img-responsive" alt="" width="170" height="60">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" href="/players/add">Add Player Details<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/players/list">View Player Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players/schedule">Schedule</a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link" href="/loginpage">Log out</a>
                </li>

          </ul>
        </div>
        </div>
    </nav>
   
      <br>
      <br>
      <br><br>

    <div class="container my-5">
        <h3> Add Player</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/players/addplayer}" th:object="${player}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="player_name" class="col-form-label">Player Name</label> <input type="text" th:field="*{player_name}" class="form-control" id="player_name" placeholder="Name"> <span th:if="${#fields.hasErrors('player_name')}" th:errors="*{player_name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="player_team_name" class="col-form-label">Player Team Name</label> <input type="text" th:field="*{player_team_name}" class="form-control" id="player_team_name" placeholder="Team Name"> <span th:if="${#fields.hasErrors('player_team_name')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="player_number" class="col-form-label">Jersey No</label> <input type="number" th:field="*{player_number}" class="form-control" id="player_number" placeholder="Jersey No"> <span th:if="${#fields.hasErrors('player_number')}" th:errors="*{player_number}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="player_salary_in_cr" class="col-form-label">Salary</label> <input type="number" th:field="*{player_salary_in_cr}" class="form-control" id="player_salary_in_cr" placeholder="in Crores"> <span th:if="${#fields.hasErrors('player_salary_in_cr')}" th:errors="*{player_salary_in_cr}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="number_of_ads" class="col-form-label">Ads done</label> <input type="number" th:field="*{number_of_ads}" class="form-control" id="number_of_ads" placeholder="No of Ads"> <span th:if="${#fields.hasErrors('number_of_ads')}" th:errors="*{number_of_ads}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="number_of_matches" class="col-form-label">Matches Played</label> <input type="number" th:field="*{number_of_matches}" class="form-control" id="number_of_matches" placeholder="No of Matches"> <span th:if="${#fields.hasErrors('number_of_matches')}" th:errors="*{number_of_matches}" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add Player">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>