
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>IPL 2021</title>
   <link rel="stylesheet" th:href="@{/css/loginstyle.css}">

</head>
<body>
   <div class="center">
      <h1>Login</h1>
      <form  th:action="@{/login}" method="GET">
         <div class="txt_field">
			<label>Email</label><br><br>
            <input type="text" name="email" required>
         </div>
         <div class="txt_field">
			<label>Password</label><br><br>
            <input type="password" name="password" required>
         </div>
         <input type="submit" value="Login">
		 
      </form>
	 
	  
	 
      <div class="space"></div>
   </div>
</body>
</html>